*{
  margin: 0;                                  /* Define un margin de 0 */
  padding: 0;                                 /* Define un padding de 0 */
  font-family: Arial, Helvetica, sans-serif;  /* Define la fuente de letra para todo el HTML */
}

h1{
  text-align: center;                         /* Define que su texto se alinee horizontalmente */
  padding-bottom: 15px;                       /* Define un padding de debajo a 15px */
  font-weight: bold;                          /* Pone en negrilla el elemento */
  text-decoration: underline;                 /* Subraya el elemento */
}

body{
    background-color: #2a70c6;              /* Define un fondo celeste al elemento */
}

form{
  box-sizing: border-box;                     /* Define que el ancho del elemento incluya tambien a su padding, margin, etc */
  width: 70%;                           /* Define un ancho maximo de 500px */
  margin: 0 auto;                             /* Define que no existe margin y que se centree horizontalmente de manera automatica */                 
  background-color: #20978dd5;              /* Define el color de fondo del formulario a un celeste-oscuro */
  padding: 40px;                              /* Define un padding de 40px a todos lados del elemento */
  border-radius: 20px;                        /* Define que sea bordeado a 20px */
  font-size: 18px;                            /* Define el tamaño de letra a 18px */
}

label, input, textarea{ 
  border-color: black;                      /* Define el color del borde a negro */
  border-width: 3px;                          /* Define el ancho del borde a 3px */
  display: block;                             /* Obliga a comportarse como un bloque horizontal que debe ocupar todo horizontalmente desplazando hacia arriba o abajo los demas elementos */  
  margin-bottom: 20px;                        /* Define un margin DEBAJO de los elementos de 20ox */  
  border-radius: 10px;                        /* Define un borde de radio de 10px en esas etiquetas */
}

input, textarea{
  width: 100%;                                /* Define que input, textarea usen el 100% de su ancho tomando en cuenta el padding, margin del form etc */
  padding: 10px;                              /* Define un padding por todos lados de 10px */
}

button{
  background-color: #8a28e0;                /* Define el color de fondo del boton como morado */
  color: #fff;                              /* Define el color de la letra en blanco */
  border-color: black;                      /* Define el color del borde como negro */
  border-width: 2px;                          /* Define el ancho el borde a 2px */
  padding: 15px 20px;                         /* Define el padding a 15px arriba/abajo y 20px a los lados */
  border-radius: 10px;                        /* Define un borde de 10 grados al boton */
  cursor: pointer;                            /* Al pasar por la el boton el cursos cambia a una mano */
  width: 60%;                                 /* Define un 60% de anchura del boton sobre su contenedor (tomando en cuenta el padding, margin, etc del form) */
  text-transform: uppercase;                  /* Pone en mayusculas todas las letras del boton */
  display: block;                             /* Para poder centrar el boton defino al mismo como bloque */
  margin: 0 auto;                             /* cenra el boton */
}

button:hover{
  background-color: #1a4867;                /* Al pasar el cursor encima del boton se cambia el color del mismo a un azul-oscuro */
}