
.contentLoginCard2 {
  width: 350px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ocupa toda la pantalla */
  width: 100%;   /* ignora el max-width de #root */
  margin: 0;
  padding: 0;
}


