.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ocupa toda la pantalla */
  width: 100%;   /* ignora el max-width de #root */
  margin: 0;
  padding: 0;
}


.contentLoginCard2{
  width: 200px;          
  height: 200px;              
  display: flex;
  justify-content: center;
  align-items: center;
}