.texto {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #222;
  padding: 3px 0px;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.icono {
  width: 20px;
  height: 20px;
  object-fit: contain;
}