.contentLoginCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 15px 15px 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
}
.texto1 span {
  font-size: 0.64rem;
  font-weight: 600;
  color: #222222;
}
.texto1 svg {
  height: 13px; 
  width: 13px;
}
.texto2 span {
  font-size: 10px;
  margin-bottom: 10px;
  color: #717182;
}
.texto3 span {
  font-size: 0.5rem;
  margin-top: 5px;
  color: #674188;
  cursor: pointer;
}
.boton1:hover {
  background-color: #2c2c3e;
}
.boton1:active {
  background-color: black;
}

.link1{
  font-size: 0.45rem;
  color: #a4a7ac;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 11px;
  margin-left: 200px;
  margin-bottom: 10px;
  font-weight: 600;

}.link1:hover {
  color: #2c2c3e;
}
.input2 {
  margin-bottom: 1px;
}.botonCerrar { 
  margin-left: auto;
}